.project-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 1vh;
}

.menu-bar {
  width: 15%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.main-content-layout {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 100%;
  background-color: #aea7a7;
}


.left-column {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 98%;
  width: 50%;
  padding: 1vh;
}

.right-column {
  width: 50%;
  padding: 2vh;

}


/* Video Viewport */

.video-viewport {
  width: 100%;
  height: 45%;
  /* background-color: black;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 2vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}



.menu-bar button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.menu-bar button:hover {
  background-color: #45a049;
}


.no-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  font-size: 1.2em;
  margin-right: auto;
  color: #666;
  border: 2px solid black;
}