.project-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: #D7DADC;
  min-width: 800px;
  min-height: 600px;
  overflow: auto;
}
.main-content-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* background-color: #aea7a7; */
}


.left-column {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 100%;
  width: 65%;
  padding: 1vh;
}

.right-column {
  width: 35%;
  /* padding: 2vh; */
  border-radius: 2vh;
  background-color: #000000;
}


/* Videos list */

.video-list-container {
  width: 20%;
  height: 100%;
  background-color: #000000;
  overflow-y: auto;
  border-radius: 2vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.video-list-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.video-list {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  gap:1vh;
}

.video-thumbnail-button {
  object-fit: scale-down;
  background-size: contain;
  /* Fit image within the div */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  width: 100%;
}

.video-thumbnail-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-thumbnail-button.selected {
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px #3c3d3d;
}

.video-thumbnail-button img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 2px;
}

.thumbnail-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 2px;
}

.video-icon {
  font-size: 24px;
}


.no-videos {
  grid-column: 1 / -1;
  padding: 20px;
  text-align: center;
  color: #666;
}