.project-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #0f0d0d;
}
.main-content-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* background-color: #aea7a7; */
}


.left-column {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 100%;
  width: 65%;
  padding: 1vh;
}

.right-column {
  width: 35%;
  /* padding: 2vh; */
  border-radius: 2vh;
  background-color: #0c0101;
}


/* Video Viewport */

.video-viewport-container{
  width:100%;
  height:50%;

}

.video-viewport {
  width: 75%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto; */
}



.menu-bar button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.menu-bar button:hover {
  background-color: #45a049;
}


.no-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  font-size: 1.2em;
  margin-right: auto;
  color: #666;
  border: 2px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 2vh;
  cursor: pointer;
  border-radius: 1vh;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure it appears above other elements */
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto; /* Make it the same width as the button */
}

.dropdown-menu li {
  padding: 1vh;
}

.dropdown-menu li button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu li button:hover {
  background-color: #f1f1f1; /* Highlight on hover */
}