.timeline-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    height: 25%;
    background-color: #c6c2c2;
    border-radius: 2vh;
}

.timeline-marker-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height:28%;
    margin-bottom: 2%;
}

.thumbnail-container {
    position: relative;
    height: 70%;
    width: 100%;
    padding:0;
}

.thumbnail-button {
    position: absolute;
    height: 100%;
    object-fit: scale-down;
    background-size: contain;
    /* Fit image within the div */
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.current-time-indicator {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: red;
    z-index: 10;
}

.time-marker {
    top: 0;
    left: 100;
    position: absolute;
    bottom: 0;
    width: 1px;
    background-color: #999;
}

.time-marker.major {
    min-height: 4px !important;
    height: 4vh;
}

.time-marker.minor {
    min-height: 2px !important;
    height: 2vh;
}

.time-marker-label {
    position: absolute;
    top: 5vh;
    left: 100%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: #666;
}


/* Hiding the scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.timeline-container::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.timeline-container {
    scrollbar-width: none;
}

.clip-selection-area {
    position: absolute;
    top: 30px;
    left: 15px;
    right: 15px;
    height: 50px;
    cursor: pointer;
}

.selected-clip {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.3);
    border: 2px solid rgba(0, 123, 255, 0.5);
    z-index: 5;
}

.clip-handle {
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #0056b3;
    cursor: ew-resize;
}

.start-handle {
    left: -5px;
}

.end-handle {
    right: -5px;
}

.clip-handle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.start-handle::before {
    border-right: 6px solid white;
}

.end-handle::before {
    border-left: 6px solid white;
}